<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chorme=1">
    <meta name="author" content="aml556 & script1000">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{ page.title }} | {{ site.name }}" />
    <title>{{ page.title }} | {{ site.name }}</title>
    <style>
      body {
        background: #eee;
        margin: 1em auto;
        text-align: center;
      }
      .content {
        width: 500px;
        margin: 0 auto;
      }
      h1 {
        font-size: 3rem;
        margin: 1em 0;
      }
      a {
        color: #36f;
        font-weight: bolder;
        text-decoration: none;
      }
      a:hover {
        color: white;
        background: #36f;
      }
    </style>
  </head>
  <body>
    <h1>{{ page.title }}</h1>
    <div class="content">
      <p>The specific page was not found.</p>
      <p>You may have the wrong address.</p>
      <p>Please return immediately.</p>
      <p>特定のページが見つかりませんでした。</p>
      <p>違うアドレスを入力している可能性があります。</p>
      <p>すぐにお戻りください。</p>
    </div>
  </body>
</html>
